
/* Hopefully, most Aleph users will have CarolinaBar fonts installed locally.
   This is a fallback font for when that is not the case */
@font-face {
  font-family: Code39Azalea;
  /* numeric barcodes only */
  src: url('/fonts/Code39Azalea.eot')  format('embedded-opentype'),
       url('/fonts/Code39Azalea.woff') format('woff'),
       url('/fonts/Code39Azalea.ttf')  format('truetype'),
       url('/fonts/Code39Azalea.svg#Code39Azalea') format('svg');
  font-weight: normal;
  font-style : normal;
}

/* font-size / line-height of this one is a mess. Not using it 
@font-face {
  font-family: IDA39Free;
  src: url('/fonts/IDAutomationHC39M.woff2') format('woff2'),
       url('/fonts/IDAutomationHC39M.woff')  format('woff'),
       url('/fonts/IDAutomationHC39M.otf')   format('opentype'),
       url('/fonts/IDAutomationHC39M.ttf')   format('truetype');
  font-weight: normal;
  font-style : normal;       
*/

tbody .barcode {
  font-family: 'CarolinaBar-B39-2.5-22x158x720', Code39Azalea, Source Code Pro, Consolas, monospace; */
}
tbody .barcode.readable {
  font-family: inherit;
}
